:root {
  --main-colour: #2c2827;
  --secondary-colour: #e69215;
  /* #41b883  #9b59b6  #27ae60  #f39c12  #e74c3c */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#container {
  background-color: var(--main-colour);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  overflow-x: hidden;
}

nav {
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main-colour);
  z-index: 100;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 20%;
  max-width: 150px;
  object-fit: contain;
  border-radius: 100px;
  margin-left: 25px;
}

#navLinks {
  width: 35%;
  min-width: 500px;
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  align-items: center;
  margin-right: 25px;
}

#navLinks a {
  color: var(--secondary-colour);
  text-decoration: none;
  font-size: 25px;
}

#navLinks .button {
  color: var(--main-colour);
  background-color: var(--secondary-colour);
  border: none;
  border-radius: 7px;
  padding: 7px 20px;
}

#heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% + 30px);
  background-color: rgba(44, 40, 39, 0.6);
}

#heroContainer {
  width: 100%;
  background-image: url("./Images/hero-image1.jpg");
  margin-top: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--main-colour);
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#heroContent {
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  line-height: 75px;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#heroContent p:nth-child(3) {
  font-size: 75px;
}

#mainSolution {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  color: var(--secondary-colour);
}

#mainSolution div:nth-child(1) {
  line-height: 30px;
}

/* #mainSolution div:nth-child(1) .button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-colour);
  color: var(--main-colour);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
} */

#mainSolution .image {
  width: 20%;
}

#mainSolution .image img {
  width: 100%;
  border-radius: 20px;
}

.accent {
  color: var(--secondary-colour);
  font-weight: bold;
}

#mainContent {
  width: 100%;
  background-color: var(--secondary-colour);
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--main-colour);
}

#mainContent .hurdles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#mainContent .hurdles .hurdle {
  background-color: var(--main-colour);
  padding: 20px;
  color: var(--secondary-colour);
  width: 20%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mainContent .hurdle img {
  width: 30%;
  object-fit: contain;
  border-radius: 20px;
}

#mainContent .hurdle:nth-child(3) img {
  border-radius: 50%;
  width: 44%;
}

#mainContent .hurdle:nth-child(4) img {
  width: 44%;
}

#mainContent > img {
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  transform: scaleY(-1) scaleX(-1);
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.hurdles .row:nth-child(1) img {
  width: 100px;
  border-radius: 10px;
}

.solutions {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.solutions h3 {
  font-weight: normal;
  margin-bottom: 80px;
}

.solutions > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.solutions > div > img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  transform: scaleY(-1) scaleX(-1);
}

.sellContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sellContainer div:nth-child(1) {
  width: 30%;
}

.sellContainer div:nth-child(1) img {
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  object-fit: contain;
}

.sellContainer div:nth-child(2) {
  width: 70%;
  text-align: center;
}

.sellContainer div:nth-child(2) h2 {
  font-size: 25px;
}

.sellContainer div:nth-child(2) p {
  font-size: 15px;
}
.sellContainer div:nth-child(2) button {
  margin-top: 15px;
  padding: 10px 25px;
  font-weight: bold;
  background-color: var(--secondary-colour);
  color: var(--main-colour);
  border: none;
  border-radius: 10px;
}

#aboutUs {
  padding: 80px;
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
}

#aboutUs .image {
  width: 40%;
}

#aboutUs .content {
  width: 60%;
}

#aboutUs .image img {
  width: 90%;
  max-width: 430px;
  border-radius: 20px;
  border: 5px solid var(--secondary-colour);
  filter: brightness(0.8);
  margin: auto;
  object-fit: contain;
}

#aboutUs h1 {
  font-size: 2vw;
  margin-bottom: 30px;
}

#aboutUs h2 {
  font-size: 1.5vw;
}

#aboutUs h3 {
  font-size: 1.2vw;
}

#aboutUs p {
  font-size: 1vw;
}

#aboutUsFooter {
  padding: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: var(--secondary-colour);
}

#aboutUsFooter img {
  width: 20%;
  object-fit: contain;
  border: solid 5px var(--main-colour);
  border-radius: 20px;
}

#aboutUsFooter div {
  width: 40%;
}

#aboutUsFooter .accent {
  color: var(--main-colour);
}

#infoSection {
  width: 90%;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: white;
}

#infoSection h1 {
  font-size: 2vw;
}

#infoSection span {
  font-size: 0.85vw;
}

#infoSection .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#infoSection .image {
  position: relative;
  display: inline-block;
  width: 15%;
}

#infoSection .image img {
  width: 100%;
}

#infoSection .image h2 {
  width: 100%;
  position: absolute;
  bottom: 4px;
  background-color: var(--secondary-colour);
  color: var(--main-colour);
  text-align: center;
  font-size: 1.2vw;
}

#infoSection .button {
  padding: 5px 20px;
  color: var(--main-colour);
  background-color: var(--secondary-colour);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

#contactUsForm {
  width: 90%;
  padding: 80px;
}

#contactUsForm .image {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contactUsForm .image img {
  width: 100%;
  max-width: 675px;
  object-fit: contain;
  border-radius: 20px;
}

#contactUsForm .form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  position: absolute;
}

#contactUsForm form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#contactUsForm form div {
  width: 100%;
  text-align: center;
}

#contactUsForm form input {
  width: 45%;
  padding: 8px;
  border: 2px solid var(--secondary-colour);
  border-radius: 5px;
  max-width: 300px;
}

#contactUsForm button {
  padding: 5px 20px;
  background-color: var(--secondary-colour);
  color: var(--main-colour);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}

#contactUsForm textarea {
  border: solid 2px var(--secondary-colour);
  padding: 7px;
  width: 90%;
  max-width: 625px;
  border-radius: 5px;
}

#contactUsForm h1 {
  font-size: 4vw;
  color: var(--secondary-colour);
  background-color: var(--main-colour);
  padding: 7px 15px;
  border-radius: 10px;
}

/* Media Queries */

/* Under 600px */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  nav img {
    width: 100px;
    height: 100px;
    margin-left: 0;
  }

  #navLinks {
    min-width: none;
    width: 90%;
    justify-content: space-evenly;
    margin-right: 0;
  }

  #navLinks a {
    font-size: 30px;
  }

  #heroContainer::before {
    height: 100%;
  }

  #heroContent {
    font-size: 25px;
    line-height: 40px;
  }

  #heroContent p:nth-child(3) {
    font-size: 45px;
  }

  #mainSolution {
    height: 80vh;
    padding: 25px;
    flex-direction: column;
  }

  #mainSolution h1 {
    font-size: 25px;
  }

  #mainSolution .image {
    width: 50%;
  }

  #mainContent {
    gap: 1rem;
    padding: 10px;
  }

  #mainContent .hurdles {
    flex-direction: column;
    align-items: center;
    height: 200px;
    max-height: 200px;
    max-width: max-content;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 20px;
    margin: auto;
  }

  #mainContent .hurdles .hurdle {
    width: 100%;
    max-width: 350px;
  }

  #mainContent .hurdle img {
    width: 20%;
  }

  #mainContent .hurdle:nth-child(3) img {
    border-radius: 50%;
    width: 20%;
  }

  #mainContent .hurdle:nth-child(4) img {
    width: 20%;
  }

  #mainContent .hurdle:nth-child(1) {
    margin-top: 450px;
  }

  #mainContent > img {
    width: 75px;
    height: 75px;
  }

  #mainContent > h3 {
    font-size: 15px;
  }

  #aboutUs {
    padding: 10px;
    color: white;
    height: 70vh;
  }

  #aboutUs .image {
    display: none;
  }

  #aboutUs .content {
    width: 100%;
  }

  #aboutUs h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #aboutUs h2 {
    font-size: 18px;
  }

  #aboutUs h3 {
    font-size: 15px;
  }

  #aboutUs p {
    font-size: 12px;
  }

  #aboutUsFooter {
    width: 95%;
    padding: 20px;
    gap: 0.5rem;
  }

  #aboutUsFooter img {
    width: 30%;
  }

  #aboutUsFooter div {
    width: 70%;
    text-align: center;
  }

  #aboutUsFooter div h1 {
    font-size: 25px;
  }

  #aboutUsFooter div p {
    font-size: 12px;
  }

  #infoSection {
    width: 100%;
    height: 1000px;
    text-align: center;
    gap: 3rem;
  }

  #infoSection h1 {
    font-size: 25px;
  }

  #infoSection span {
    font-size: 15px;
  }

  #infoSection .content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  #infoSection .image {
    width: 70%;
  }

  #infoSection .image h2 {
    font-size: 15px;
  }

  #contactUsForm {
    padding: 20px;
    margin-bottom: 50px;
  }

  #contactUsForm .form {
    width: 100%;
  }

  #contactUsForm form {
    width: 95%;
  }

  #contactUsForm form input {
    width: 40%;
  }

  #contactUsForm h1 {
    font-size: 30px;
  }
}

/* over 600px and under 768px */
@media screen and (min-width: 601px) and (max-width: 768px) {
  #heroContent {
    font-size: 45px;
    line-height: 60px;
  }

  #heroContent p:nth-child(3) {
    font-size: 55px;
  }

  #mainSolution h1 {
    font-size: 30px;
  }

  #mainContent > img {
    width: 100px;
    height: 100px;
  }

  #mainContent > h1 {
    font-size: 40px;
  }

  #mainContent > h3 {
    font-size: 20px;
  }

  #aboutUs h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  #aboutUs h2 {
    font-size: 25px;
  }

  #aboutUs h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  #aboutUs p {
    font-size: 15px;
  }

  #aboutUsFooter div h1 {
    font-size: 35px;
  }

  #aboutUsFooter div p {
    font-size: 12px;
  }

  #infoSection {
    height: 1300px;
  }

  #infoSection h1 {
    font-size: 30px;
  }

  #infoSection span {
    font-size: 20px;
  }
}

/* over 768px and under 992px */
@media screen and (min-width: 769px) and (max-width: 992px) {
  #mainContent {
    gap: 2rem;
  }
  #mainContent h1 {
    font-size: 35px;
  }

  #aboutUs h1 {
    font-size: 3vw;
    margin-bottom: 20px;
  }

  #aboutUs h2 {
    font-size: 2.5vw;
  }

  #aboutUs h3 {
    font-size: 2vw;
  }

  #aboutUs p {
    font-size: 1.5vw;
  }

  #infoSection h1 {
    font-size: 3vw;
  }

  #infoSection span {
    font-size: 1.5vw;
  }

  #infoSection .content {
    width: 80%;
  }

  #infoSection .image {
    width: 35%;
  }

  #infoSection .image h2 {
    font-size: 2vw;
  }

  /* over 992px and under 1200px */
}
